# Datatypes
## Mutable : List, Dictionary, Byte array
## Immutable : Int, Float, Complex, String, Tuple, Set

***

# Variables

In [5]:
list1=['pavan','Dhanush','karthik']
a,b,c=list1
print(c)

karthik

# Int

In [9]:
a=5
b=1234567890
c=-567
print(a)
print(type (c))
print(type(b))
x=complex(c)
print(x)

5
<class 'int'>
<class 'int'>
(-567+0j)

In [1]:
#abs : converts negetive numbers into positive
print(abs(-100))

100

In [2]:
import sys
print(sys.version)

3.10.9 | packaged by Anaconda, Inc. | (main, Mar  1 2023, 18:18:15) [MSC v.1916 64 bit (AMD64)]

In [11]:
import random
print(random.randrange(1,10))

7

In [12]:
int('7')

7

# Float

In [5]:
a=5.5
print(a)
print(type(a))

5.5
<class 'float'>

In [10]:
# round
print(round(20.38958))
print(round(20.38948,2))

20
20.39

# Complex

In [6]:
a=5+2j
print(a)
print(type(a))

(5+2j)
<class 'complex'>

# String
#### collection of one or more characters put in a single or double or triple quote
#### multiline strings can be denoted using triple quotes, you cannot write a stirng more than one line using double quotes
#### string is immutable, which means if you want to change Pavan to Pawan in the below example, you cant, you will have to assign it again in a different variable or change it in the above declared variable. you cannot alter any thing in a already declared variable

In [13]:
a="""Pavan is Hardworking
.
.
.
.
and he works very good"""
print(a)

Pavan is Hardworking
.
.
.
.
and he works very good

In [14]:
a='10'
print (a)
print(type(a))

10
<class 'str'>

In [3]:
a=2.0
print(type(a))
x=int(a)
print(type (x))
y=str(a)
print(type(y))

<class 'float'>
<class 'int'>
<class 'str'>

In [12]:
#can acces a single character on the string by typing the index no in square brackets
string= "my name is pavan and live in bangalore"
print(string[8])
print(string[0])
print(string.index("pavan and "))

i
m
11

# List
#### is an ordered sequence of items;  mutable;  always written in square brackets

In [13]:
a=list(input())
print(a)

12345abcdeapple
['1', '2', '3', '4', '5', 'a', 'b', 'c', 'd', 'e', 'a', 'p', 'p', 'l', 'e']

In [18]:
a=eval(input())
print(a)

[1,2,3,4,'apple','w']
[1, 2, 3, 4, 'apple', 'w']

In [40]:
a=[1,      
                 5.5,'ws']
print(a)
print(type(a))

[1, 5.5, 'ws']
<class 'list'>

In [46]:
#How to change value in list
a=[1, 5.0, 'a', '@pavan']
print(a)
a[3]=10
print(a)

[1, 5.0, 'a', '@pavan']
[1, 5.0, 'a', 10]

# Tuple
#### immutable;  in round brackets;  can be accessed faster compared to list

In [48]:
a=(10,20.5,'hello')
print(a)
print(type(a))

(10, 20.5, 'hello')
<class 'tuple'>

# Dictionary 
#### unordered collection of key value pairs;  { };  (key:value)

In [4]:
a={'name':'apple',
  'type':'fruit'}
print(a)
print(type(a))
print(a['name'])

{'name': 'apple', 'type': 'fruit'}
<class 'dict'>
apple

In [54]:
#how to add or change data inside dict

# Set 
#### duplicate elements are considered once only;   immutable;

In [1]:
a={1,2,2,       'a'}
print(a)
print(type(a))

{1, 2, 'a'}
<class 'set'>

15