# List

In [12]:
when we want to represent a group of individual elements as a single entity where duplicates are allowed and insertion order is preserved. 
# duplicates are allowed
# square brackets
# heterogeneous: combination of different datatypes
# mutable
# dynamic: can increase or decrease (add/remove) the size
# indexing, slicing, insertion order is preserved

In [2]:
a=[1,2,3,3,3,8.2,"pavan","suraj"]
print(a)
print(a[5])
type(a)

[1, 2, 3, 3, 3, 8.2, 'pavan', 'suraj']
8.2

list

In [17]:
# negetive index
a=[1,2,3,3,3,8.2,"pavan","suraj"]
print(a[-1])
print(a[-2])

suraj
pavan

In [3]:
# can specify from where to where
# [from : till : every nth index]
a=[1,2,3,3,3,8.2,"pavan","suraj"]
print(a[1:6:2])
print(a[1:6])
print(a[:6])

[2, 3, 8.2]
[2, 3, 3, 3, 8.2]
[1, 2, 3, 3, 3, 8.2]

In [5]:
# to check if a single item is there in the list
a=["apple",3,4,5,"mango"]
'apple' in a

True

In [14]:
# change the list items
a=["apple",3,4,5,"mango"]
a[1:3]=[10.1]    #a[1],a[2] gets replaced
print(a)

print()
a=["apple",3,4,5,"mango"]
a[1:5]=[10.1]      #a[1],a[2],a[3],a[4] gets replaced
print(a)

['apple', 10.1, 5, 'mango']

['apple', 10.1]

In [2]:
# to acces items of a nested list
x=[1,2,'pavan',4,5,["a",'b','c']]
print(x[5][0])
print(x[2][2])

a
v

## how to take an input into a list

In [3]:
# take input and create a list
a=input('enter list values with "space" as a seperator')
print(a)
print(type(a))
b=a.split(' ')      #by using split we can comvert a string into list
print(b)
print(type(b))

enter list values with "space" as a seperatora b c d pavan
a b c d pavan
<class 'str'>
['a', 'b', 'c', 'd', 'pavan']
<class 'list'>

In [14]:
# if you are using while true there should be a if condition at the end of body of loop orelse the loop will go on for infinite times
l=[]
while True:
    l.append(input())
    if len(l)==10:
        break
print(l)

1
2
3
a
s
d
f
3
2
3
['1', '2', '3', 'a', 's', 'd', 'f', '3', '2', '3']

# .reverse

In [29]:
a=[1,2,3,3,3,8.2,"pavan","suraj"]
a.reverse()
print(a)

['suraj', 'pavan', 8.2, 3, 3, 3, 2, 1]

# .sort

In [4]:
# sort doesnt work when there is mix of string and int in a single list 
a=[10,2,300,3,3,8.2]
a.sort()
print(a)     #cant use sort function with print at once

[2, 3, 3, 8.2, 10, 300]

In [9]:
# decending order
a=[10,2,300,3,3,8.2]
a.sort(reverse = True)  #instead of true we can use any no. but false is always 0
print(a)

[300, 10, 8.2, 3, 3, 2]

In [34]:
# first preference to the fist capital letter then alphabetical order 
thislist = ["banana", "Orange", "Kiwi", "cHERRY"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cHERRY']

In [38]:
# first letter lower will come first
thislist = ["banana", "Orange", "Kiwi", "cerry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cerry', 'Kiwi', 'Orange']

## custom sort using function

In [64]:
a=["hello00000","apple","banana"]
def c_sort(value):
    return len(value)
       
a.sort(key=c_sort)
print(a)

['apple', 'banana', 'hello00000']

In [57]:
a=["hello00000","apple","banana"]
def c_sort(value):
    return len(value)
a.sort(key=c_sort,reverse=1)
print(a)

['hello00000', 'banana', 'apple']

# len

In [2]:
a=[1,2,3,3,3,8.2,"pavan","suraj"]   #len function doesnt work for int and float
print(len(a))

8

# .append

In [2]:
a=[1,2,3,3,3,8.2,"pavan","suraj"]
a.append([45,98])
a.append("mango")
print(a)

[1, 2, 3, 3, 3, 8.2, 'pavan', 'suraj', [45, 98], 'mango']

In [7]:
# appending a new list to existing list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for i in list2:
  list1.append(i)

print(list1)

['a', 'b', 'c', 1, 2, 3]

# .insert

In [24]:
# to add in particular position 
a=['p',2,3,3,3,8.2,"pavan","suraj"]
a.insert(3,67)        
print(a)

a=['p',2,3,3,3,8.2,"pavan","suraj"]
a.insert(16,67)        # if index value is out of reach it ll add to the end
print(a)

['p', 2, 3, 67, 3, 3, 8.2, 'pavan', 'suraj']
['p', 2, 3, 3, 3, 8.2, 'pavan', 'suraj', 67]

# .extend

In [51]:
# by extend you can add multiple values, but by append you can add only one
a=[1,2,3,3,3,8.2,"pavan","suraj"]
a.extend([10009,178881,19887800])
print(a)
a[1:4]=[10009,178881,19887800]
print(a)

[1, 2, 3, 3, 3, 8.2, 'pavan', 'suraj', 10009, 178881, 19887800]
[1, 10009, 178881, 19887800, 3, 8.2, 'pavan', 'suraj', 10009, 178881, 19887800]

In [25]:
# extend a new list to existing list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)
print(list2)

['a', 'b', 'c', 1, 2, 3]
[1, 2, 3]

# .remove

In [12]:
a=[1,2,3,4,3,8.2,"pavan","suraj"]
a.remove(8.2)
a.remove(3)  #only one 3 is removed that to 1st one
print(a)

[1, 2, 4, 3, 'pavan', 'suraj']

# .pop

In [36]:
#removes the last item
#if given any no inside the brackets, then the index position of that no is deleted
a=[1,2,3,3,3,8.2,"pavan","suraj"]
a.pop()
print(a)

a.pop(1)  
print(a)

a.pop(12)  #ERROR : index out of range
print(a)

[1, 2, 3, 3, 3, 8.2, 'pavan']
[1, 3, 3, 3, 8.2, 'pavan']

## del a[ ]

In [31]:
a=[1,2,3,3,3,8.2,"pavan","suraj"]
del a[0]
print(a)

del a

[2, 3, 3, 3, 8.2, 'pavan', 'suraj']

## .clear

In [21]:
a=[1,2,3,3,3,8.2,"pavan","suraj"]
a.clear()
print(a)

[]

## .search

## .index
shows index number if value is passed

In [40]:
a=[1,2,3,4]
print(a.index(3))

2

In [42]:
a=['hello','beautiful','world',]
a.index("world")

2

In [47]:
a=[1,2,3,4,5,6,3]
a.index(4)

3

## .count

In [10]:
a=[1,2,3,1,2,5,6,1,6,6]
a.count(1)
len(a)

10

## join two lists

In [17]:
list1 = [4, 6, 7]
list2 = [1, 2, 3]
list3 = ['4', '6', '7']
list4 = ['1','2','3']


list3 = list1 + list2          # list1.extend(list2)
print(list3)

# this is different
[i+j for i,j in zip(list1,list2)]
[str(i)+str(j) for i,j in zip(list3,list4)]

[4, 6, 7, 1, 2, 3]

['41', '62', '73']

## .copy : the list will be copied

In [39]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [40]:
# copy without using copy function
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

## .replace

## List comprehensions :
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list. usually you will be using for loop and if condition but in list comprehension you use the expression, for loop and condition in a single line.

In [20]:
# appending a list normally
l=[]
for a in range(1,100):
    l.append(a)
print(l)

# same program using list comprehension 
l=[]
n=[i for i in range(1,100)]
print(n)

l=[]
n=[i for i in range(1,100) if i%2==0]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [23]:
b=[2,3,4,4,7]
x=[item if(item%2==0) else item+1 for item in b]
c=[i for i in b if (i%2==0)]
print(x)
print(c)

[2, 4, 4, 4, 8]
[2, 4, 4]

## loops in list

## for loop

In [20]:
a=[1,2,3]
total=0
for x in a:
    total+=x
print(total)

6

2

In [50]:
import os
os.getcwd()

'C:\\Users\\Pavankumarhn'

# Shallow copy, Deep copy

In [3]:
import copy as c
L1= [1,2,3,4,5]
print(L1)
print(id(L1))
b=c.deepcopy(L1)
b.extend([6,7,8,9])
print(b)
print(id(b))

[1, 2, 3, 4, 5]
1608400551680
[1, 2, 3, 4, 5, 6, 7, 8, 9]
1608400558336

In [11]:
import copy as c
L1= [1,2,3,['a','b'],4,5]
print(L1)
print(id(L1))
b=c.copy(L1)
b.extend([6,7,8,9])
print(b)
print(id(b))

[1, 2, 3, ['a', 'b'], 4, 5]
1608400558336
[1, 2, 3, ['a', 'b'], 4, 5, 6, 7, 8, 9]
1608400327808

# zip function

In [8]:
# iterate two lists simultaneously using zip
a=[1,2,3,4,5,6]
b=[7,6,8,6,5,48,7,5]

for i,j in zip(a,b):
     print(i,j)

1 7
2 6
3 8
4 6
5 5
6 48

In [13]:
Id=[1,2,3,4,5] 
flower=['rose','lily','sunflower','hibiscus','tulip']
colour=['red','white','yellow','orange','blue']
for i,j,k in zip(Id,flower,colour):
    print(i,j,"-",k)

1 rose - red
2 lily - white
3 sunflower - yellow
4 hibiscus - orange
5 tulip - blue

In [22]:
# write a program to remove duplicates in a list
l=list(input('enter the list elements'))
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)

enter the list elements[1,2,'abc']
['[', '1', ',', '2', "'", 'a', 'b', 'c', ']']

In [8]:
l=[1,2,3,3,4,4,5,5,5,'apple']
l1=[]
l2=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        l2.append(i)
print(l1)
print(l2)

[1, 2, 3, 4, 5, 'apple']
[3, 4, 5, 5]

In [11]:
l=[[1,2,3],[4,5],[6,7,8,9]]
l1=[]
for i in l:
    for j in i:
        l1.append(j)
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
l=eval(input('enter the list elements'))
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
print(l)
print(l1)

enter the list elements1,2,3,4,'apple','apple'
(1, 2, 3, 4, 'apple', 'apple')
[1, 2, 3, 4, 'apple']

In [21]:
l=[1,2,3,4,5,6,7]
k=7
for i in l:
    for j in l:
        if i+j==k:
            print(i,j)

1 6
2 5
3 4
4 3
5 2
6 1

In [26]:
l1=[1,2,3]
l2=[4,5,6]
for x,y in zip(l1,l2):

TypeError: 'int' object is not iterable

In [42]:
l=eval(input())
print(l)

12345'apple'

SyntaxError: invalid syntax (<string>, line 1)

In [39]:
l=e(input())
print(l)

[1,2,3,[1,2],4]
[1, 2, 3, [1, 2], 4]

In [4]:
x=input("enter the comma seperated input")
list1=x.split(",")
l2=[]
for i in list1:
    if i not in l2:
        l2.append(i)
print(l2)

enter the comma seperated input1,2,3,3,3,4,4,5,5,apple,apple
['1', '2', '3', '4', '5', 'apple']

In [2]:
list1=eval(input("enter the comma seperated input"))
l2=[]
for i in list1:
    if i not in l2:
        l2.append(i)
print(l2)

enter the comma seperated input123,3,3,4,4,5,5,'apple','apple'
[123, 3, 4, 5, 'apple']

In [7]:
x=input("enter the space seperated values")
list1=x.split(" ")
l2=[]
for i in list1:
    if i not in l2:
        l2.append(i)
print(l2)

enter the comma seperated input1 2 3 3 4 4 5 5 apple apple
['1', '2', '3', '4', '5', 'apple']

In [6]:
my_list = []
while True:
    my_list.append(input())

4
5
6
e
w
r
w

KeyboardInterrupt: Interrupted by user

In [7]:
print(my_list)

['4', '5', '6', 'e', 'w', 'r', 'w', '']

In [2]:
x = [(1,2),(2,3),(4,5),(5,7)]
n = []
for i in x:
    n.append(i[-1])
        
print(n)
temp=""
for i in range(len(n)):
    for j in range(len(n)):
        if n[i]>n[j]:
            temp=n[i]
            n[i]=n[j]
            n[j]=temp
    
print(n)
new=[]
for j in n:
    for i in x:
        if( i[-1] == j):
            new.append(i)
new

[2, 3, 5, 7]
[7, 5, 3, 2]

[(5, 7), (4, 5), (2, 3), (1, 2)]